<h1> Sign Up Here </h1>

<form action='/users/signed_up' method = 'post'>
  <label for ="email"> email
  <input type='text' name='email'>
  </label>
  <label for ="password"> password
  <input type='text' name='password'>
  </label>
  <label for ="password_confirmation"> Re-enter password
  <input type='text' name='password_confirmation'>
  </label>
  <input type='submit' value='Sign up'>
</form>
