<form action="/sign_up" method="post" >
  <label for="user_name">
    User Name:
    <input type="text" name="user_name">
  </label>
  <label for="email">
    Email:
    <input type="text" name="email">
  </label>
  <label for="password">
    Password:
    <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    Confirm Password:
    <input type="password" name="password_confirmation">
  </label>
  <input type="submit" value="Sign Up">
</form>

<% if flash[:notice] %>
<div id="notice" >
  <%= flash[:notice] %>
<form action="/" method="get">
  <label for="email_repeat">
    Email:
    <input type="text" name="email_repeat" value="<%= @user.email %>}">
  </label>
  <input type="submit" value="Try Again">
</form>
</div>
<% end %>
