<% if @user %>
<h1> WELCOME TO BOOKMARKER MANAGERESS <%= @user %>!</h1>
<h2> Ready? </h2>
<form action="/links/new" method="get">
  <input type="submit" value="Start Bookmarking">
</form>
<% else %>
<h1> OOPS, PASSWORDS DID NOT MATCH </h1>
<form action="/" method="get">
  <input type="submit" value="Try Again">
</form>
<% end %>
