<!DOCTYPE html>
<html lang="en">
  <head>
    <title> My Bookmarks </title>
    <link rel="stylesheet" href="../index.css" type="text/css">
  </head>
<body>
  <div class="wrapper">
    <div class="title">
      <h1>Links</h1>
    </div>
      <ul id="links">
        <h1> Titles: </h1>
        <%@links.each do |link| %>
          <li><a href='<%= link.url%>'><%= link.title %></li></a>
        <% end %>
      </ul>
    </div>
  </div>
</body>
